{% extends "base.html" %}

{% block title_block %}SD Academy: Student Details{% endblock %}


{% block active_block_student %}active{% endblock %}

{% load staticfiles %}
{% block content%}
<div class="container">
     {% for item in student %}
     <h1>{{ item.surname }} {{ item.name }}</h1>
     <h3>Student's card</h3>
 <table  class="custom_table1 custom_table2">
     <tr><td>Surname</td><td>{{ item.surname }}</td></tr>
     <tr><td>Name</td><td>{{ item.name }}</td></tr>
     <tr><td>Birth Date</td><td>{{ item.date_of_birth }}</td></tr>
     <tr><td>Address</td><td>{{ item.address }}</td></tr>
     <tr><td>E-mail</td><td>{{ item.email }}</td></tr>
     <tr><td>Skype</td><td>{{ item.skype }}</td></tr>
     <tr><td>Courses</td>
         <td>
         {% for i in item.courses.all %}
             <a href="{% url 'courses:detail' i.id %}">{{ i }}<br></a>
         {% endfor %}
         </td>
     </tr>
     {% endfor %}
 </div>
{% endblock content%}


