{% extends "base.html" %}

{% block title_block%}SD Academy - Contacts{% endblock %}


{% block active_block_contact %}active{% endblock %}


{% block content %}
{% load staticfiles %}
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h3 class="padding_class2">Founder</h3>
      <img alt="radj" src="{% static 'images/knd.jpg' %}"/>
      <p class="padding_class2">
        <br>
        <b>Name:</b> Rajendra S'Progiba<br>
        <b>Email:</b> bortsukha@bro.ok<br>
        <b>Phone:</b> 0-322-233<br>
        <b>Skype:</b> bratishka
      </p>
    </div>
    <div class="col-sm-3">
      <h3 class="padding_class4">Director</h3>
      <img alt="shiva" src="{% static 'images/shiva.jpg' %}"/>
      <p class="padding_class2">
        <br>
        <b>Name:</b> Shiva Destroyer<br>
        <b>Email:</b> god@destr.me<br>
        <b>Phone:</b> 777<br>
        <b>Skype:</b> blackdarkbloodevildestr
      </p>
    </div>
    <div class="col-sm-3">
      <h3 class="padding_class4">Manager</h3>
      <img alt="nobody" src="{% static 'images/nobody.jpg' %}"/>
      <p class="padding_class2">
        <br>
        <b>Name:</b> Mr Nobody<br>
        <b>Email:</b> mr@see.no<br>
        <b>Phone:</b> 0800-6050-679<br>
        <b>Skype:</b> cantaddme
      </p>
     </div>
  </div>
</div>
{% endblock %}