{% extends "base.html" %}


{% block title_block %}{{ title }}{% endblock %}


{% block active_block_feedback %}active{% endblock %}


{% block content %}

{% load staticfiles %}

{% if messages %}
<div class="container">
    <div class="alert alert-success fade in">
    <ul class="messages">
        {% for message in messages %}
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    </div>
</div>
{% endif %}
<div class="container">
    <h1>{{ title }}</h1>
</div>
<div class="container">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
    <input class="btn btn-primary btn" value='Submit Feedback' type='submit'>
    </form>
</div>
{% endblock %}


{% block footer_block %}position: absolute{% endblock %}
