{% extends "base.html" %}

{% block title_block %}SD Academy - Main{% endblock %}


{% block active_block_main %}active{% endblock %}


{% block content %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% include "include/course_include.html" %}

  <div class="container">
    <h1>SDAcademy Course Description</h1>
  </div>
    <div class="container">
      <h4>Purpose of this site is to give you initial info related to most common programming languages.</h4>
      </div>
  <div class="container">
    <h3>Program</h3>
    <table class="table table-striped table-bordered table-hover custom_table2">
      <td>Course</td><td>Decription<br></td><td></td>
      {% for item in courses_all %}
        <tr>
            <td><a class="trselect b" href="{% url 'courses:detail' item.id %}">{{ item.name|upper }}</a></td>
            <td>{{ item.short_description|title }}<br></td>
            <td>
                <a href="{% url 'courses:remove' item.id %}">Delete</a>
            </td>
        </tr>
      {% endfor %}
    </table>
    <a href="{% url 'courses:add' %}">Add new course</a>
  </div>
{% endblock %}