{% extends "base.html" %}

{% block title_block %}SD Academy : Course details{% endblock %}


{% block content %}


{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
    </ul>
{% endif %}


{% load staticfiles %}
    {% for item in courses %}
<div class="container">
    <div class="jumbotron">
    <h1>{{ item.name }}</h1>
  <p>{{ item.description|truncatechars:32 }}</p>
    </div>
</div>
    {% endfor %}


<div class="container">
    <h2>Teachers</h2>
    <div>
      <h3>Coach</h3>
      {% for item in courses %}
        {% if item.coach %}
        <a href="{% url 'coaches:detail' item.coach.id %}">{{ item.coach.user.first_name }} {{ item.coach.user.last_name }}</a><br>
        {{ item.coach.description }}
        {% endif %}
      {% endfor %}
    </div>
    <div>
      <h3>Assistant</h3>
      {% for item in courses %}
        {% if item.assistant %}
        <a href="{% url 'coaches:detail' item.assistant.id %}">{{ item.assistant.user.first_name }} {{ item.assistant.user.last_name }}</a><br>
        {{ item.assistant.description }}
        {% endif %}
      {% endfor %}
    </div>
</div>
<div class="container">
    <h3>Course Plan</h3>
    <div>
    {% for item in courses %}
        <form action="{% url 'courses:add-lesson' item.pk %}">
            <input type="submit" value="Add Lesson">
        </form>
    {% endfor %}
    </div>
    <div class="container">
      <table class="table table-striped table-bordered table-hover custom_table2">
        <td>#</td><td>Theme</td><td>Description</td>
      {% for item in lessons_all %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ item.subject }}</td>
            <td>{{ item.description }}<br></td>
        </tr>
      {% endfor %}
      </table>
    </div>
</div>
{% endblock %}

