{% extends "base.html" %}

{% block title_block %}SD Academy: Coach Details{% endblock %}


{% block content%}
{% load staticfiles %}
 <div class="container">
     {% for item in coach %}
     <h1>{{ fullname }}
     </h1>
 <table  class="custom_table1 custom_table2">

     <tr><td>Birth Date</td><td>{{ item.date_of_birth|date:"d F, o" }}</td></tr>
     <tr><td>Address</td><td>{{ item.address }}</td></tr>
     <tr><td>Email</td><td>{{ email }}</td></tr>
     <tr><td>Skype</td><td>{{ item.skype }}</td></tr>
     <tr><td>Phone</td><td>{{ item.phone }}</td></tr>
     {% endfor %}
     <tr>
         <td>Courses Coach</td>
        <td>
         {% for item in course_coach %}
            <a href="{% url 'courses:detail' item.id %}"> {{ item }}</a> course students
             <a href="{% url 'students:list_view' %}?course_id={{ item.id }}">
                 <span class="glyphicon glyphicon-th-list"></span>
             </a><br>
         {% endfor %}
        </td>
     </tr>
     <tr>
         <td>Courses Assistant</td>
         <td>
             {% for item in course_assistant %}
                <a href="{% url 'courses:detail' item.id %}"> {{ item }}</a> course students
                <a href="{% url 'students:list_view' %}?course_id={{ item.id }}">
                 <span class="glyphicon glyphicon-th-list"></span>
             </a><br>
             {% endfor %}
         </td>
     </tr>

 </table>
 </div>
{% endblock %}
